/* div {
  background-color: rgb(170, 150, 216);
  color: rgb(255, 255,255);
  padding: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
} */

h1 {
  color: white;
  background-color: #83d383;
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}